@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

* {
	box-sizing: border-box;
	margin: 20px;
	padding: 0;

	font-weight: 300;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: purple;
	font-weight: 300;
}

.button {
	background-color: purple;
	color: white;
	width: 100px;
}
.deletebutton {
	background-color: rgb(147, 121, 154);
	color: rgb(252, 244, 244);
	width: 75px;
}

.bg-dark {
	background-color: rgb(155, 114, 169) !important;
	min-height: 60px;

}
